// FONTS:
$h1Font: 'Halant', serif;
$h2Font: 'Playfair Display SC', serif;
$textFont: 'Lato', sans-serif;


// COLORS:
$borderStaple: #214642;


// $h1Font: 'Merienda One', cursive;
// $h2Font: 'Calligraffitti', cursive;
// old red color #965163;
// old red on nav #DBACB9;
