// FONTS:
$h1Font: 'Merienda One', cursive;
$h2Font: 'Calligraffitti', cursive;
$textFont: 'Lato', sans-serif;


// COLORS:
$borderStaple: #214642;


// old red color #965163;
// old red on nav #DBACB9;
