<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Allie J. Arsenault | Web Development</title>
    <!-- BOOTSTRAP -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Halant:400,300,600|Playfair+Display+SC:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Calligraffitti|Merienda+One|Lato:400,300,700' rel='stylesheet' type='text/css'>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="css/style.css" media="screen" title="stylesheet" charset="utf-8">

<!-- PORTFOLIO TEMPLATE -->
<script type="text/html" id="portfolioTmpl">
  <li id="pfLI">
      <a href="<%= url %>" target="_blank">
      <p class="title">
        <%= title %>
      </p>
      <img class="screenshot" src="<%= mainImg %>" />
    </a>
      <p class="desc">
        <b class="subHead">GOAL</b>: <%= goal %>
        <br><br>
        <b class="subHead">CHALLENGES</b>: <%= challenge %>
        <br><br>
        <b class="subHead">PERSONAL EXPERIENCE</b>: <%= personalExp %>
        <br>
      </p>
    </li>
</script>
<!-- END TEMPLATE -->

  </head>

  <body>

    <header>
      <nav>
        <ul>
          <li rel="about">
            <a href="#">About</a></li>

          <li rel="blog">
            <a href="#">Blog</a></li>

          <li rel="portfolio">
            <a href="#">Portfolio</a></li>

          <li rel="contact">
            <a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div class="wrapper">

      <section id="logo">
        <h1>Allie J. Arsenault</h1>
        <h2>Web Development & Design</h2>
      </section>

        <section class="content">

<!-- HOME -->

          <article class="home">
          </article>

<!-- END HOME -->


<!-- ABOUT -->
            <article  rel="about" class="about hidden">
              <blockquote>"Success is not the key to happiness. Happiness is the key to success. If you love what you are doing, you will be successful."</blockquote>
                <h4>Albert Schweitzer</h4>

              <img src="img/pfpic.png" alt="" />
              <section class="sub-content">
                <a name="linkToAbout"><h2>ABOUT ALLIE</h2></a>
                <p>
                  Albert Schweitzer's quote regarding success and happiness embodies the ideals which I believe whole-heartedly, and which have changed my life for the better in this past year.
                  </p>
                  <p>
                  I graduated from the University of Massachusetts, Amherst in 2012 and shortly thereafter started a career in the Cell Tower Industry. While I enjoyed my role as a Lease Analyst, and I had the utmost respect for my managers & co-workers, I (like most) am not overwhelmingly interested in steel structures. I found myself envying those who went to work every day truly loving what they did.
                  </p>
                  <p>
                  I moved from Boston, MA (where I had lived my entire life) to Charleston, SC in March of 2015 and shortly after stopped working at the cell tower company.  It was the perfect time to change career paths and choose a field that I have an organic interest in.  It quickly became apparent that web development & design brings out a side of me I hadn't seen in years. I get excited to go to school every day and learn more about the amazing things I will become capable of as a front end engineer.
                  </p>
                  <p>
                  I am currently enrolled at <a href="http://www.theironyard.com" target="_blank">The Iron Yard</a> for their Fall 2015 Cohort - Front End Engineering, and will be graduating on January 8th. I'll routintely update with projects I've worked on, learning moments, and other personal infortmation.  If you wish to contact me for employment opportunities or just to chat, please visit the <span rel="contact"><a href="#">contact</a></span> page.
                </p>
              </section>
            </article>
<!-- END ABOUT SECTION -->


<!-- BLOG SECTION -->
    <article rel="blog" class="blog hidden">
      <section class="sub-content">
        <section class="blogPost">
          <h2>"Beginner Blogger Thoughts"</h2>
          <h4>Saturday, January 9, 2016 | 5 PM</h4>
          <p>
            How do you start your first blog post? What should the topic be? There are so many options. Even before thinking about that, what blogging platform should you use? There are <a href="https://www.staticgen.com/" target="_blank">tons</a> of options. These are the questions that have been confronting me recently as my time at <a href="https://www.theironyard.com/locations/charleston.html" target="_blank">The Iron Yard</a> was winding down & I now find myself, for the first time in months, with a Saturday and no big project looming overhead.
          </p>
          <p>
            It's a bit weird to be done at TIY.  Well "done" may not be all that accurate.  I already know myself and others will be right back on campus this next week, heckling our Campus Director for insight on everythig job related and learning/re-learning all sorts of things.  TIY's whole "we teach you how to learn" thing is definitely true.  All I want to do is expand my knowledge and TIY has really helped me figure out the best ways to do so. So what am I learning right now?  About blogging platforms/static site generators. One specifically.
          </p>
          <p>
            I've wanted to start a blog for quite a while, but with the hours I was putting in at TIY, I never seemed to find time.  Just deciding how you're going to build/manage your blog takes a lot of time, never mind actually doing it.  But I still want to get started.  This is why my first few posts will be old school html right on the page I'm working on. Caveman status, baby.  Once I have my new blogging platform figured out, I'll refactor things.  You might be curious which platform I chose (or not, I don't care) - well, I picked <a href="http://www.metalsmith.io/" target="_blank">Metalsmith.io</a>.
          </p>
          <p>
            The cool thing about Metalsmith <i>is Metalsmith</i> at its core: everything is a plugin. Everything. It is completely configureable to your exact needs.  This level of customization excites me more than eating another brownie sunday from <a href="http://rutledgecabco.com/">Rutledge Cab Co.</a> (oh, so good).  There also appears to be a great community around the platform, they even have their own slack channel which I thought was pretty cool.  Metalsmith is a <a href="">Node.js</a> tool, which is also great for me because since I love (& just spent 12K learning) JavaScript, anything that furthers my knowledge in that department is excellent.
          </p>
          <p>
            So that's basically where I stand. Over the next couple of weeks my main goals will be tinkering with Metalsmith and bugging my Campus Director (just kidding, she loves us. We think.) to look at another, and another, cover letter.  Hopefully I'll find time to continiously update here with learning moments & anything else that lights up my world.
          </p>
          <!-- <section class="likes">
            <img src="icons/heart-outlined.png" class="likeIt" alt=""> <span class="likeIt">I liked this</span>
          </section> -->
        </section>
      </section>
    </article>
<!-- END BLOG SECTION -->


<!-- CONTACT SECTION -->
    <article rel="contact" class="contact hidden">
      <section class="big-col-2 sub-content">
        <a name="linkToContact"><h2>CONTACT INFORMATION</h2></a>
        <p>
        It's always great to make new connections in the tech world, so feel free to add/follow me on social media!
      </p>
      <p>
         If you have any questions about my work experience or if you just want to connect, check out the listings on your right. The best way to contact me is via email, but I check my other social media accounts on a regular basis as well.
        </p>
      </section>

      <aside class="contactAside sub-content">
            <ul class="contact-info">
              <li class="phone"><a href="tel:508-523-1176">508-523-1176</a></li>
              <li class="mail"><a href="mailto:allieJarsenault@gmail.com">allieJarsenault@gmail.com</a></li>
              <li class="github"><a href="https://github.com/alliejay" target="_blank">alliejay</a></li>
              <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=allieJarsenault">@allieJarsenault</a></li>
              <li class="linkedIn"><a href="http://www.linkedin.com/in/allieJarsenault" target="_blank">Find me on LinkedIn</a></li>
          </ul>
      </aside>

    </article>
<!-- END CONTACT SECTION -->


  <!-- PORTFOLIO SECTION -->
    <article rel="portfolio" class="portfolio hidden">

      <section class="sub-content">
        <h2>PORTFOLIO</h2>
        <p class="snippet">
          Below is a listing of the assignments and projects I worked on while a student at The Iron Yard.  With each, I've included the goal of the assignment, any challenges our instructors (intentionally) threw our way, and my own personal experience as well.  Each screenshot will take you to either the deployed application or to its GitHub repo.
        </p>
        <br>
        <p class="snippet">
          In addition, my resume can be downloaded in PDF format here: <a href="resume.pdf" download="resume">RESUME</a>
        </p>

          <ul id="portfolioList">
          </ul>

      </section>
    </article>
  <!-- END PORTFOLIO SECTION -->

  </section>
<!-- END CONTENT SECTION -->


    <footer>
      <a href="https://github.com/alliejay" target="_blank"><img src="icons/github-with-circle.png" alt="Github"></a>
      <a href="https://www.linkedin.com/in/alliejarsenault" target="_blank"><img src="icons/linkedin-with-circle.png" alt="Github"></a>
      <a href="https://twitter.com/allieJarsenault" target="_blank"><img src="icons/twitter-with-circle.png" alt="Twitter"></a>
      <br>
      <p>&copy; Allie J. Arsenault 2015</p>
      <p><a href="http://www.entypo.com/" target="_blank">Entypo+</a> pictograms by Daniel Bruce.</p>
    </footer>
    </div>



<!-- LIBRARIES -->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="bower_components/moment/moment.js"></script></script>

<!-- SCRIPTS -->
  <script type="text/javascript" src="portfolio.js"></script>
  <script type="text/javascript" src="data.js"></script>
  <script type="text/javascript" src="templates.js"></script>
  <script type="text/javascript" src="main.js"></script>
  </body>
</html>
