<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Allie J. Arsenault | Web Development</title>
    <!-- BOOTSTRAP -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Halant:400,300,600|Playfair+Display+SC:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Calligraffitti|Merienda+One|Lato:400,300,700' rel='stylesheet' type='text/css'>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="css/style.css" media="screen" title="stylesheet" charset="utf-8">

<!-- PORTFOLIO TEMPLATE -->
<script type="text/html" id="portfolioTmpl">
  <li id="pfLI">
      <a href="<%= url %>" target="_blank">
      <p class="title">
        <%= title %>
      </p>
      <img class="screenshot" src="<%= mainImg %>" />
    </a>
      <p class="desc">
        <b class="subHead">GOAL</b>: <%= goal %>
        <br><br>
        <b class="subHead">CHALLENGES</b>: <%= challenge %>
        <br><br>
        <b class="subHead">PERSONAL EXPERIENCE</b>: <%= personalExp %>
        <br>
      </p>
    </li>
</script>
<!-- END TEMPLATE -->

  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li rel="home">
            <!-- <a name="linktotop">Home</a></li> -->
            <a href="#">Home</a></li>

          <li rel="about">
              <a href="#">About</a></li>

          <li rel="blog">
            <a href="#">Blog</a></li>

          <li rel="portfolio">
            <a href="#">Portfolio</a></li>

          <li rel="contact">
            <a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    <div class="wrapper">

      <section id="logo">
        <h1>Allie J. Arsenault</h1>
        <h2>Web Development & Design</h2>
      </section>

        <section class="content">

<!-- HOME -->

          <article class="home">
          </article>

<!-- END HOME -->


<!-- ABOUT -->
            <article  rel="about" class="about hidden">
              <blockquote>"Success is not the key to happiness. Happiness is the key to success. If you love what you are doing, you will be successful."</blockquote>
                <h4>Albert Schweitzer</h4>

              <img src="img/pfpic.png" alt="" />
              <section class="sub-content">
                <a name="linkToAbout"><h2>ABOUT ALISON</h2></a>
                <p>
                  Albert Schweitzer's quote regarding success and happiness embodies the ideals which I believe whole-heartedly, and which have changed my life for the better in this past year.
                  </p>
                  <p>
                  I graduated from the University of Massachusetts, Amherst in 2012 and shortly thereafter started a career in the Cell Tower Industry. While I enjoyed my role as a Lease Analyst, and I had the utmost respect for my managers & co-workers, I (like most) am not overwhelmingly interested in steel structures. I found myself envying those who went to work every day truly loving what they did.
                  </p>
                  <p>
                  I moved from Boston, MA (where I had lived my entire life) to Charleston, SC in March of 2015 and shortly after stopped working at the cell tower company.  It was the perfect time to change career paths and choose a field that I have an organic interest in.  It quickly became apparent that web development & design brings out a side of me I hadn't seen in years. I get excited to go to school every day and learn more about the amazing things I will become capable of as a front end engineer.
                  </p>
                  <p>
                  I am currently enrolled at <a href="http://www.theironyard.com" target="_blank">The Iron Yard</a> for their Fall 2015 Cohort - Front End Engineering, and will be graduating on January 8th. I'll routintely update with projects I've worked on, learning moments, and other personal infortmation.  If you wish to contact me for employment opportunities or just to chat, please visit the <span rel="contact"><a href="#">contact</a></span> page.
                </p>
              </section>
            </article>
<!-- END ABOUT SECTION -->


<!-- BLOG SECTION -->
    <article rel="blog" class="blog hidden">
      <section class="comingSoon">
        <h1>BLOG | COMING SOON...</h1>
      </section>
    </article>
<!-- END BLOG SECTION -->


<!-- CONTACT SECTION -->
    <article rel="contact" class="contact hidden">
      <section class="big-col-2 sub-content">
        <a name="linkToContact"><h2>CONTACT INFORMATION</h2></a>
        <p>
        It's always great to make new connections in the tech world, so feel free to add/follow me on social media!
      </p,mmm,m href="http://www.theironyard.com" target="_blank">The Iron Yard</a> in January of 2016, and will be looking for employment opportunities at that time. If you have any questions about my work experience or if you just want to connect, check out the listings on your right. The best way to contact me is via email, but I check my other social media accounts on a regular basis as well.
        </p>
      </section>

      <aside class="contactAside sub-content">
            <ul class="contact-info">
              <li class="phone"><a href="tel:508-523-1176">508-523-1176</a></li>
              <li class="mail"><a href="mailto:allieJarsenault@gmail.com">allieJarsenault@gmail.com</a></li>
              <li class="github"><a href="https://github.com/alliejay" target="_blank">alliejay</a></li>
              <li class="twitter"><a href="http://twitter.com/intent/tweet?screen_name=allieJarsenault">@allieJarsenault</a></li>
              <li class="insta"><a href="https://www.instagram.com/alliejarsenault/" target="_blank">allieJarsenault</a></li>
              <li class="linkedIn"><a href="http://www.linkedin.com/in/allieJarsenault" target="_blank">Find me on LinkedIn</a></li>
          </ul>
      </aside>

    </article>
<!-- END CONTACT SECTION -->


  <!-- PORTFOLIO SECTION -->
    <article rel="portfolio" class="portfolio hidden">

      <section class="sub-content">
        <h2>PORTFOLIO</h2>
          <ul id="portfolioList">

          </ul>
      </section>
    </article>
  <!-- END PORTFOLIO SECTION -->

  </section>
<!-- END CONTENT SECTION -->


    <footer>
      <a href="https://github.com/alliejay" target="_blank"><img src="icons/github-with-circle.png" alt="Github"></a>
      <a href="https://www.linkedin.com/in/alliejarsenault" target="_blank"><img src="icons/linkedin-with-circle.png" alt="Github"></a>
      <a href="https://twitter.com/allieJarsenault" target="_blank"><img src="icons/twitter-with-circle.png" alt="Twitter"></a>
      <br>
      <p>&copy; Allie J. Arsenault 2015</p>
      <p><a href="http://www.entypo.com/" target="_blank">Entypo+</a> pictograms by Daniel Bruce.</p>
    </footer>
    </div>



<!-- LIBRARIES -->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="bower_components/moment/moment.js"></script></script>

<!-- SCRIPTS -->
  <script type="text/javascript" src="portfolio.js"></script>
  <script type="text/javascript" src="data.js"></script>
  <script type="text/javascript" src="templates.js"></script>
  <script type="text/javascript" src="main.js"></script>
  </body>
</html>
